:root {
    --burnt-sienna: #dd7765ff;
    --pistachio: #8acb88ff;
    --hookers-green: #648381ff;
    --davys-gray: rgb(51, 51, 56);

    --robin-egg-blue: #2E8F98;
    /*--feldgrau: #475b5aff;*/
    --feldgrau: #E1E6E5;
    --battleship-gray: #8d8e8eff;
    --dim-gray: #6d6d6eff;
    --cadet-gray: #a3a9aaff;
    --french-gray: #bbbbbfff;
}

body {
    display: flex;
    margin: 0px;
    background-color: var(--feldgrau);
}

h1 {
    font-family: "Roboto", sans-serif;
    color: var(--robin-egg-blue);
    text-align: center;
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--dim-gray);
    text-align: center;
}

button {
    cursor: pointer;
    background-color: var(--robin-egg-blue);
    color: var(--feldgrau);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.welcome {
    margin: auto;
    background-color: var(--feldgrau);
}
