:root {
    --burnt-sienna: #dd7765ff;
    --pistachio: #8acb88ff;
    --hookers-green: #648381ff;
    --davys-gray: #575761ff;
}

body {
    margin: 0px;
    background-color: var(--davys-gray);
}

h1 {
    font-family: "Roboto", sans-serif;
    color: var(--pistachio);
    text-align: center;
}
