:root {
    --burnt-sienna: #dd7765ff;
    --pistachio: #52D1DC;
    --hookers-green: #648381ff;
    --davys-gray: #475B5A;


    --robin-egg-blue: #2E8F98;
    /*--feldgrau: #475b5aff;*/
    --feldgrau: #E1E6E5;
    --battleship-gray: #8d8e8eff;
    --cadet-gray: #a3a9aaff;
    --french-gray: #bbbbbfff;
}

body {
    margin: 0px;
    background-color: var(--feldgrau);
}

h1 {
    font-family: "Roboto", sans-serif;
    color: var(--robin-egg-blue);
    text-align: center;
}

.container {   
    display: flex;
}

.edit {
    width: 50%;
    background-color: var(--feldgrau);
}

.edit-child {
    /*margin: auto;*/
    margin-bottom: 20px;
    background-color: var(--battleship-gray);
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    box-shadow: 3px 3px 10px black;
}

.edit-child h3 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-top: 0px;
}

.edit-child h4 {
    font-family: "Roboto", sans-serif;
}

.edit-child label {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-right: 20px;
}

.edit-child textarea {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    width: 95%;
    height: 120px;
    max-width: 95%;
}

.edit-child .interior {
    display: flex;
}

.edit-child .interior .left {
    width: 30%;
    display: block;
}

.edit-child .interior .left label {
    height: 21px;
}

.edit-child .interior .right {
    width: 70%;
}

.edit-child .interior .right input[type="text"] {
    width: 90%;
}

pre {
    background-color: var(--battleship-gray);
    white-space: pre-wrap;
    text-wrap: wrap;
    padding: 5px;
    border-radius: 4px;
}

.output {
    width: 50%;
    background-color: var(--feldgrau);
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}