:root {
    --burnt-sienna: #dd7765ff;
    --pistachio: #8acb88ff;
    --hookers-green: #648381ff;
    --davys-gray: rgb(51, 51, 56);
}

body {
    margin: 0px;
    background-color: var(--davys-gray);
}

h1 {
    font-family: "Roboto", sans-serif;
    color: var(--pistachio);
    text-align: center;
}

.container {   
    display: flex;
}

.edit {
    width: 50%;
    background-color: var(--hookers-green);
}

.edit-child {
    margin: auto;
    margin-bottom: 20px;
    background-color: var(--pistachio);
    width: 90%;
}

.edit-child h3 {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.edit-child h4 {
    font-family: "Roboto", sans-serif;
}

.edit-child label {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-right: 20px;
}

.built-list-child {
    
}

.output {
    width: 50%;
    background-color: var(--burnt-sienna);
    height: 100px;
}